.applayout {
  display: flex;
  background-color: black;
}

.appcontent {
  flex: 1;
  padding: 20px;
  transition: all 0.3s ease;
  margin: 0;
  padding: 0;
}

.contentexpanded {
  margin-left: 250px; /* when sidebar is open */
}

.contentcollapsed {
  margin-left: 80px; /* when sidebar is collapsed */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.title {
    margin-left: 2%;
    color: white;
}

.profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-right: 2%;
  color: black;
}

.notification {
  position: relative;
  font-size: 1.2rem;
  cursor: pointer;
  color: white;
  padding-right: 1rem;
}

.badge {
  position: absolute;
  top: -6px;
  right: 10px;
  background: #b91c1c; 
  color: white;
  border-radius: 50%;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 2px 6px;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.username {
  font-weight: 500;
  color: white;
  cursor: pointer;
}

.content {
    min-height: 100vh;
    background-color: black;

}

.topRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.topRow h3 {
    margin-left: 2%;
    margin-top: 2%;
}

.topRow .searchInput {
    margin-right: 6%;
    margin-top: 2%;
    background-color: black;
    color: white;
    border: 1px solid white;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-left: 2%;
    margin-top: 2%;
}

.card {
    background: linear-gradient(200deg, #057305, #0b6128);
    border-radius: 8px;
    padding: 16px;
    width: 30%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    cursor: pointer;
    color: white;
}

.card:hover {
  transform: translateY(-4px);
}

.profileHeader {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.searchContainer {
    display: flex;
    align-items: center;
    margin-right: 3%;
}

.searchIcon {
    margin-top: 5px;
    margin-right: 8px;
    font-size: 30px;
}

.avatar1 {
  width: 50px;
  height: 50px;
  border-radius:50%;
  margin-right: 12px;
  object-fit: cover;
  cursor: pointer;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius:20%;
  margin-right: 12px;
}

.name {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.role {
  display: inline-block;
  background-color: green;
  color: white;
  font-size: 12px;
  padding: 2px 8px;
  border-radius: 12px;
  margin-top: 4px;
}

.horizontal {
  border: none;
  border-top: 1px solid white;
  margin: 2px 0;
}

.description {
  font-size: 14px;
  color: white;
  line-height: 1.5;
}

