.alert {
  background: red;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;

  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  transition: transform 0.5s ease, opacity 0.5s ease;
  opacity: 0;
  z-index: 9999;
}

.alert.slide-in {
  transform: translateX(-50%) translateY(0);
  opacity: 1;
}

.alert.slide-out {
  transform: translateX(-50%) translateY(-100%);
  opacity: 0;
}
